@import url(https://db.onlinewebfonts.com/c/4eb2b5183a93d5d96f28e09ae20c57a6?family=F%28MyE%29Wild+Words);
@import url('https://fonts.googleapis.com/css2?family=Amethysta&family=Lato&family=Science+Gothic:wght@100..900&display=swap');

:root {
    --background-color: #36454F;
    --footer-color: #14191D;
    --main-text-color: #E09729;
    --secondary-text-color: #FFEE00;
    --button-color: #F37814;
    --button-color-highlight: #C56517;
    --button-color-border: #ECA60E;
    --main-font: 'F(MyE)Wild Words';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

.main__section {
    align-items: center;
    text-align: center;
    display: flex;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.main__section__box {
    margin: 0 6em;
}

.section__text {
    font-size: 26px;
    font-weight: 700;
}

.section__logo {
    margin: 1em 0 2em 0;
    max-width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subscribe__button {
    font-family: "Science Gothic", sans-serif;
    background-color: var(--button-color);
    border: 2px solid var(--button-color-border);
    padding: 1.5%;
    display: block;
    width: 100%;
    font-size: 30px;
}

.subscribe__button:hover {
    cursor: pointer;
    background-color: var(--button-color-highlight);
}

.section__warning {
    margin-top: 1em;
    color: var(--secondary-text-color);
    font-size: 14px;
}

.section__image {
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}

.device__section {
    text-align: center;
}

.device__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 5em;
    margin: 5em 0;
}

.device__list__name {
    font-size: 28px;
    color: var(--main-text-color);
}

.main__footer {
    text-align: center;
    margin: 5em 3em;
    background-color: var(--footer-color);
}

.main__footer__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.main__footer__list__link {
    text-decoration: none;
    margin-left: 1em;
}

.smaller {
    transform: scale(0.7);
}
