@import url(https://db.onlinewebfonts.com/c/4eb2b5183a93d5d96f28e09ae20c57a6?family=F%28MyE%29Wild+Words);

:root {
    --background-color: #3D3D3D;
    --main-text-color: #FFFFFF;
    --secondary-text-color: #ECA60E;
    --fonte-principal: 'F(MyE)Wild Words';
}