@import url(https://db.onlinewebfonts.com/c/4eb2b5183a93d5d96f28e09ae20c57a6?family=F%28MyE%29Wild+Words);
@import url('https://fonts.googleapis.com/css2?family=Amethysta&family=Lato&family=Science+Gothic:wght@100..900&display=swap');

:root {
    --background-color: #36454F;
    --main-text-color: #FFFFFF;
    --secondary-text-color: #ECA60E;
    --button-color: #F37814;
    --button-color-highlight: #C56517;
    --main-font: 'F(MyE)Wild Words';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

.main__section {
    align-items: center;
    text-align: center;
    display: flex;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.main__section__box {
    margin: 0 6em;
}

.section__title {
    font-size: 26px;
    font-weight: 700;
}

.section__logo {
    margin: 1em 0 2em 0;
    max-width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subscribe__button {
    font-family: "Science Gothic", sans-serif;
    background-color: var(--button-color);
    border: 2px solid var(--secondary-text-color);
    padding: 1.5%;
    display: block;
    width: 100%;
    font-size: xx-large;
}

.subscribe__button:hover{
    cursor: pointer;
    background-color: var(--button-color-highlight);
}

.section__image {
     filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}